@{
    ViewData["Title"] = "Home Page";
}



    <p>

        Početna stranica
        </br> O Aplikaciji, šta nudi i slično
        </br> Možemo staviti klikni za Sign Up/Login da bi vidjeli ponude...
        </br> Povezano sa _Layout.cshtml --> Ovo je šta layout prikazuje!

        </br>

        <a href="Users/Create">Sign Up</a>

    </p>
